

// .project__

.project {
  background-color: red;
  padding: 3rem;
  width: 100%;
  height: auto;
  display:grid;
  grid-template-columns: auto;

  &__wrapper {
    margin: 1rem;
    background-color: rgb(56, 10, 82);
    color:#fff;
    padding: 3rem;
  }
}
