.weather {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #f4f4f4;
  padding: 3rem;
  &__search {
    margin-bottom: 4rem;
  }
  &__displayLocations {
    background: #fff;
    height: auto;
    // max-height: 30rem;
    // overflow-y: auto;
    width: auto;
    border-radius: 0.5rem;
    display: block;
    position: absolute;
    //! js class
    .js-locationResult {
      display: flex;
      align-items: center;
      padding: 1rem;
      margin-right: auto;
      font-weight: bolder;
      padding-left: 1.5rem;
      transition: all 0.2s;
      border-bottom: 1px solid #0000000d;
      &:hover {
        background-color: #ffc862a8;
        transition: all 0.2s;
        transform: translateY(-4px);
      }
    }
    .js-locationTemp {
      width: 8rem;
    }
    .js-locationIcon {
      height: 6rem;
      width: 6rem;
      display: inline-block;
      // margin-right: 2rem;
    }
    .js-locationName {
      // flex-grow: 1;
      width: 10rem;
      margin-right: auto;
    }
    .js-locationFlag {
      height: auto;
      width: 3rem;
      display: inline-block;
      margin-right: 8rem;
      margin-left: 3rem;
    }
  }
}

.hide-locations {
  display: none;
}
.show-locations {
  display: block;
}

.output {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50rem;
  padding: 1rem;

  .card {
    background: #fff;
    width: 50rem;
    border-radius: 2.5rem;
    padding: 1.5rem;
    &__header {
      margin-bottom: 2.5rem;
      border-bottom: 2px solid #f4f4f4;
      padding: 1.5rem;
      background: #d089ffa1;
      border-radius: inherit;
    }
    &__forecast {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f4f4f4;
      margin: 0.5rem 0;
      padding: 1rem;
      border-radius: 1.5rem;
      transition: 0.2s all;
      border-bottom: 2px solid #f4f4f4;

      .forecast-date {
        margin-right: auto;
      }
      &:hover {
        background: #d089ffa1;
      }
    }
    &__image {
      height: auto;
      &--sm {
        width: 8rem;
      }
      &--lg {
        width: 14rem;
      }
    }
  }
}
